<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singup</title>
</head>
<body>
  <h1>Sing up form for Student....</h1>
    <form method="POST">
      {% csrf_token %}
        
        <div class="col">
            <label for="inputCity">Firstname</label>
            <input type="text" class="form-control" placeholder="First name" id="inputCity" name="firstname">
        </div>
<br>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
          </div>
<br>
        
        <div class="form-group">
          <label for="inputAddress">Rollno</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Rollno" name="Rollno">
        </div>
<br>
      
      <div class="form-group">
        <label for="inputAddress">Fee</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Fee" name="Fee">
      </div>

<br>
    
    <div class="form-group">
      <label for="inputAddress">Gender</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="male/female" name="Gender">
    </div>

<br> 
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Address</label>
            <input type="text" class="form-control" id="inputCity" placeholder="Address" name="Address">
          </div>
        </div>  
          
<br>
        
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
{%if status%}
<script>
  alert("{{status}}")
</script>
{%endif%} 
          
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Students Informations</h2>
              <table border="2">
                {% for i in namelist %}
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Rollno</th>
                    <th>Fee</th>
                    <th>Gender</th>
                    <th>Address</th>
                  </tr>
                </thead>
                <tr>
                  <td>{{i.id}}</td>
                  <td>{{i.name}}</td>
                  <td>{{i.email}}</td>
                  <td>{{i.roll_no}}</td>
                  <td>{{i.fee}}</td>
                  <td>{{i.gender}}</td>
                  <td>{{i.address}}</td>
                  
                </tr>
                {%endfor%}
              </table>

            </div>

          </div>




</body>
</html>